@import "~normandy-css/scss/1-Settings/main";
@import "~normandy-css/scss/2-Tools/main";


$color-branding-primary: hsl(106, 55%, 42%);
$color-branding-primary-muted: hsl(106, 55%, 87%);
$color-branding-primary-accent: hsl(106, 55%, 29%);

$global-colors: map-add($global-colors, "branding-primary", $color-branding-primary);
$global-colors: map-add($global-colors, "branding-primary-muted", $color-branding-primary-muted);
$global-colors: map-add($global-colors, "branding-primary-accent", $color-branding-primary-accent);

$small-breakpoint: 570px;
$medium-breakpoint: 800px;
